@{
    ViewData["Title"] = "Home Page";
}
<header>
    <h2>Giới Thiệu</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/Trang-Chu">Trang Chu</a></li>
            <li><a href="~/Nhom_Ten">Thành Viên Nhóm</a></li>
        </ul>
    </nav>

    <article>
<<<<<<< HEAD
        <h1>Nguyễn Thành Bửu</h1>
        <img src="~/images/z5547034226056_aa4b57060383ea011fd500894f4fa493 .jpg" width=350px height=200px alt="Lỗi hiện thị ảnh" />
=======
        <h1>My Name is Nguyen Thanh Buu</h1>
        <img src="~/images/anh-meme-meo-15.jpg" width=350px height=200px alt="Lỗi hiện thị ảnh" />
>>>>>>> 05ca3dd56240da711520529c1eab9fef1dd33051

    </article>
</section>

<footer>
    <p>CopyRight &copy;Nguyễn Thành Bửu @DateTime.Now.Year</p>
</footer>

